services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: SpringBootZeroUltimate
      POSTGRES_USER: Mendax47
      POSTGRES_PASSWORD: Mendax47
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  grafana:
    image: grafana/otel-lgtm:latest
    container_name: grafana
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"

volumes:
  postgres_data:
  redis_data: